<!DOCTYPE html>
<head>
<title>{{ page.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link href='https://fonts.googleapis.com/css?family=Hind:400,500,600,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.baseurl }}/css/typebase.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/colorful.css">
</head>

<body>
<div id="content">
{{ content }}
</div>
</body>
</html>
